@page "/"
@using FluencyOnline.Models;

<h1>Welcome!</h1>
<EditForm Model="@model">
    Code: <br/>
    <InputTextArea id="code-input" @bind-value:event="oninput" @bind-value="@model.Code" class="form-control codebox" rows="5" />

    Input: <br/>
    <InputTextArea id="input-input" @bind-value:event="oninput"  @bind-value="@model.Input" class="form-control codebox" rows="5" />

</EditForm>
<CodeOutput @bind-Program="@model.Code" @bind-Input="@model.Input"  />


@code {
    private FluencyModel model {get; set;} = new FluencyModel();
}