@page "/"
@using FluencyOnline.Models;

<h1>Welcome!</h1>
<EditForm Model="@Model">
    Code: <br/>
    <InputTextArea id="code-input" @oninput="@((UIChangeEventArgs e) => Model.Code = e.Value as string)"  @bind-Value="@Model.Code" class="form-control codebox codeelement" rows="@codeHeight" spellcheck="false"/>
    <ExamplePicker OnChange="@ExampleSelected" /> <br/>

    Input: <br/>
    <InputTextArea id="input-input" @oninput="@((UIChangeEventArgs e) => Model.Input = e.Value as string)"  @bind-Value="@Model.Input" class="form-control codebox codeelement" rows="5" spellcheck="false"/>
</EditForm>

<CodeOutput Program="@Model.Code" Input="@Model.Input"  />


@code {
    private FluencyModel Model {get; set;} = new FluencyModel();
    private int codeHeight = 5;

    private void ExampleSelected(UIChangeEventArgs e)
    {
        if (e.Value is string)
        {
            Model.Code = (e.Value as string).Trim();
            int height = Model.Code.Count(c => c == '\n') + 1;
            codeHeight = (height < 5) ? 5 : height;
        }
    }
}